.list {
    padding: 30px;
}

.list-item {
    height: 100px;
    font-size: 28px;
    border-bottom: 1px solid rgba(0,0,0,.1);
}

.github {
    width: 90%;
    margin: 100px auto 0;
    height: 80px;
    font-size: 28px;
    border-bottom: 1px solid rgba(0,0,0,.1);
}
.marT50{
    margin-top: 50px;
}
